mj-section
    mj-column(width="50%")
        mj-image(width="120px" src="https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg")/
        mj-text(mj-class="T13-400") contact@supveto.fr
        mj-social
            mj-social-element(src="")
            mj-social-element(src="")
    mj-column(width="50%")
        mj-text(mj-class="T16-700 cT0") Grand partenaire de
        mj-image(width="100px" src="https://i.ibb.co/VYq28039/logo-Trophees-1.png")/