mj-section
    mj-column(width="50%")
        mj-image(width="120px" src="https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg")/0
        mj-text(mj-class="") contact@supveto.fr
        -social
            mj-social-element
            mj-social-element
    mj-column(width="50%")
        mj-text(mj-class="T16-700 cT0") Grand partenaire de
        mj-image(width="120px" src="https://i.ibb.co/VYq28039/logo-Trophees-1.png")/