mj-section
    mj-group
        mj-column(vertical-align="middle")
            mj-text(align="right" padding="0 5px" mj-class="T13-400 cT0") Sup-Véto
            mj-text(align="right" padding="0 5px" mj-class="T13-400 cT0") Grand
            mj-text(align="right" padding="0 5px" mj-class="T13-400 cT0") Partenaire
        mj-column(vertical-align="middle")
            mj-image(align="left" padding="0" width="60px" src="https://i.ibb.co/VYq28039/logo-Trophees-1.png")/
mj-section
    mj-column
        mj-image(padding="0 25px" width="200px" src="https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg" alt="logo Sup-Véto")/
        mj-text(align="center" padding="0 25px" mj-class="T13-400 cT1") contact@supveto.fr
        mj-social
            mj-social-element(src="https://i.ibb.co/21J2NmD8/facebook-RY.png")
            mj-social-element(src="https://i.ibb.co/xS4khv4Y/instagram-RY.png")