mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%" padding-top="10px" padding-bottom="20px")
        mj-image(width="140px" src="https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg")/
    mj-column(width="100%" background-color="#1a1a1a" padding="5px 25px")
        mj-text(padding="0" mj-class="T16-500 cW") Newsletter Mai 2025