mj-wrapper(mj-class="bgW" padding="10px" )
    mj-section(padding="0")
        mj-column
            mj-text(mj-class="T24-300 cT1") Nouveau site web
    mj-section(padding="0")
        mj-column(width="35%")
            mj-image(padding="0" width="480px" src="https://placehold.co/480")/
        mj-column(width="65%")
            mj-text(mj-class="T16-400 cT0") Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. 
            mj-text(mj-class="T16-400 cT0") Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. 
            mj-text(mj-class="T16-400 cT0") Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat.
            mj-button() Découvrir le site web