mj-wrapper(mj-class="bgW" padding="20px 15px")
    mj-section(padding="0")
        mj-column(width="40%" padding="10px")
            mj-text(padding="0" padding-bottom="10px" align="center" mj-class="T24-700 cVF") Un site web pour accompagner les utilisateurs
            mj-image(padding="0" width="480px" border="0.5px solid #cecece" src="https://i.ibb.co/yBNm6QV1/site-Supveto.png" alt="nouveau site web Sup-Véto")/
        mj-column(width="60%" padding="10px")
            mj-text(padding="5px 0" mj-class="T16-400 cT0") Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. 
            mj-text(padding="5px 0" mj-class="T16-400 cT0") Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. 
            mj-text(padding="5px 0" mj-class="T16-400 cT0") Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat.
            mj-button(border-radius="50px" href="https://sup-veto.quentin-trompeau.fr" target="_blank" mj-class="T16-400 bgVFF cW") Découvrir le site web